body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.header-list {
  list-style: none;
}

.header-list a {
  color: #000000;
}

.header-list a:focus,
.header-list a:hover {
  color: #81b3d2;
}

.header-list a:active {
  color: #b2b2b2;
}

.active a {
  color: #766357;
}

.intro-text {
  background-color: #ffffff;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.intro-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.reasons-first-block {
  text-align: center;
  background-color: #81b3d2;
}

.reasons-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.reasons-number,
.reasons-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.reasons-advice-list {
  list-style: none;
}

.advice-list-item {
  text-align: center;
}

.reasons-second-block {
  text-align: center;
  background-color: #81b3d2;
}

.reasons-other-list {
  list-style: none;
  background-color: #eeeeee;
}

.other-list-item {
  text-align: center;
}

.white {
  color: #ffffff;
}

.search {
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.search .button {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #766357;
  border: none;
}

.button:focus,
.button:hover {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: #857871;
}

.search-modal {
  display: none;
}

.footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.contacts {
  text-align: center;
}

.contacts-item {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social {
  list-style: none;
  text-align: center;
}

.social-item {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin: 6px;
}

.social-item:focus,
.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.copyrights {
  text-align: center;
}

.copyrights-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.selection-block {
  background-image: url("../img/background-hotels.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  color: #ffffff;
}

.infrastructure,
.types {
  border: none;
  text-align: left;
}

.infrastructure-title,
.types-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.infrastructure-list,
.types-list {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.price-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-interval label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.price-interval input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.price-btn {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 1px;
}

.price-btn:focus,
.price-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-variants {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list {
  list-style: none;
}

.sorting-list-item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sorting-list-item .sorting-active {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-list-item a:focus,
.sorting-list-item a:hover {
  color: #81b3d2;
}

.sorting-list-item a:active {
  color: #000000;
  text-decoration: none;
}

.results-list {
  list-style: none;
}

.item-info {
  text-align: left;
}

.item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.item-info h3:focus,
.item-info h3:hover {
  color: #81b3d2;
}

.item-info h3:active {
  color: #b2b2b2;
}

.item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: left;
}

.item-btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.btn-more:focus,
.btn-more:hover {
  background-color: #669ec0;
}

.btn-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.btn-book {
  background-color: #766357;
}

.btn-book:focus,
.btn-book:hover {
  background-color: #604e43;
}

.btn-book:active {
  background-color: #503e33;
  color: #857871;
}

.item-rank {
  text-align: right;
}

.item-rank-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

/*-----СЕТОЧНЫЕ СТИЛИ-------*/

html,
body {
  width: 1200px;
  min-height: 2762px;
}

.header {
  /* Временно для сетки */
  min-height: 56px;
}

.header-navigation {
  /* Временно для сетки */
  min-height: 56px;
}

.header-list {
  width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 70px;
}

.list-item-left {
  display: inline-block;
  vertical-align: middle;
  width: 239px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  box-sizing: border-box;
}

.left-item {
  margin-right: 244px;
}

.list-item-right {
  display: inline-block;
  vertical-align: middle;
  width: 239px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  box-sizing: border-box;
}

.header-logo {
  width: 140px;
  height: 72px;
}

.intro {
  min-height: 725px;
}

.intro-pictures {
  min-height: 510px;
  background:
    url("../img/svg-sedona/intro-welcome.svg") no-repeat 50% 50%,
    url("../img/svg-sedona/intro-mask.svg") no-repeat 50% 100%,
    url("../img/background-index.jpg") no-repeat 0 20%;
  background-size: 459px 353px, 1200px 59px, 1200px 800px;
  background-color: #81b3d2;
}

.intro-text {
  min-height: 216px;
}

.footer {
  min-height: 120px;
}

.footer-wrapper {
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
}

.contacts {
  width: 205px;
  padding-left: 123px;
  margin-right: 177px;
  min-height: 60px;
  text-align: left;
}

.contacts-item {
  margin: 0;
  padding: 0;
}

.social {
  width: 150px;
  min-height: 60px;
  margin: 0;
  padding: 0;
  display: flex;

}

.copyrights {
  width: 197px;
  padding-right: 100px;
  margin-left: auto;
  display: flex;
  min-height: 60px;
}

.results-block {
  min-height: 453px;
}

.results-list {
  margin: 0;
  padding: 0;
}

.results-item {
  border-bottom: 1px solid #e5e5e5;
}

.results-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.results-item-wrapper {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.item-wrapper-pic {
  margin-right: 30px;
}

.item-rank {
  margin-left: auto;
}

.item-info-wrapper {
  display: flex;
}
