body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.header-list {
  list-style: none;
}

.header-list a {
  color: #000000;
}

.header-list a:focus,
.header-list a:hover {
  color: #81b3d2;
}

.header-list a:active {
  color: #b2b2b2;
}

.active a {
  color: #766357;
}

.intro-text {
  background-color: #ffffff;
}

.intro-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.intro-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.reasons-first-block {
  text-align: center;
  background-color: #81b3d2;
}

.reasons-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.reasons-number,
.reasons-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.reasons-advice-list {
  list-style: none;
}

.advice-list-item {
  text-align: center;
}

.reasons-second-block {
  text-align: center;
  background-color: #81b3d2;
}

.reasons-other-list {
  list-style: none;
  background-color: #eeeeee;
}

.other-list-item {
  text-align: center;
}

.white {
  color: #ffffff;
}

.search {
  text-align: center;
  padding-top: 54px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
}

.search-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-bottom: 47px;
  white-space: pre;
}

.search .button {
  display: inline-block;
  width: 568px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #766357;
  border: none;
  padding-top: 33px;
  padding-bottom: 31px;
}

.search-modal {
  position: absolute;
  top: 0;
  left: 316px;
  padding: 55px;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-form {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
}

.block-check-in,
.block-check-out,
.block-wrapper {
  margin-bottom: 29px;
}

.block-check-in input[type="text"],
.block-check-out input[type="text"] {
  width: 333px;
  margin-left: 20px;
  padding-left: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans","Arial",sans-serif;
  color: #000000;
  text-transform: uppercase;
  background: #f2f2f2;
  border: none;
  outline: none;
}

.block-check-in input[type="text"]:hover,
.block-check-out input[type="text"]:hover {
  background: #ebebeb;
}

.block-check-in input[type="text"]:focus,
.block-check-out input[type="text"]:focus {
  width: 329px;
  padding-left: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.block-check-out input[type="text"] {
  margin-left: 17px;
}

.block-check-in,
.block-check-out {
  position: relative;
}

.icon-calendar {
  position: absolute;
  top: 8px;
  right: 9px;
}

.icon-calendar path {
  fill: #a9a9a9;
}

.icon-calendar:focus path,
.icon-calendar:hover path {
  fill: #000000;
}

.icon-calendar:active path {
  fill: #81b3d2;
}

.block-wrapper {
  display: flex;
  margin-bottom: 54px;
}

.block-adults,
.block-children {
  display: flex;
  align-items: center;
}

.block-adults {
  margin-right: 53px;
}

.block-adults input[type="text"],
.block-children input[type="text"] {
  width: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans","Arial",sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  background: #f2f2f2;
  border: none;
  outline: none;
}

.block-adults input[type="text"]:hover,
.block-children input[type="text"]:hover {
  background: #ebebeb;
}

.block-adults input[type="text"]:focus,
.block-children input[type="text"]:focus {
  width: 34px;
  padding-top: 4px;
  padding-bottom: 4px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.form-button {
  position: relative;
  display: inline-block;
  font-family: inherit;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}

.button-minus {
  margin-left: 41px;
  outline: none;
}

.button-plus {
  outline: none;
}

.button-minus::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.button-minus:hover::before {
  background-color: #000000;
}

.button-minus:active::before {
  background-color: #81b3d2;
}

.button-plus:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 13px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.button-plus:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 17px;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
}

.button-plus:hover:before,
.button-plus:hover:after {
  background-color: #000000;
}

.button-plus:active:before,
.button-plus:active:after {
  background-color: #81b3d2;
}

.block-children .button-minus {
  margin-left: 27px;
}

.search-button {
  display: inline-block;
  width: 458px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
  padding-top: 15px;
  padding-bottom: 20px;
  outline: none;
}

.search-button:focus,
.search-button:hover {
  background-color: #669ec0;
}

.search-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.button:focus,
.button:hover {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: #857871;
}

.footer {
  position: relative;
}

.contacts {
  text-align: center;
}

.contacts-item {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.social {
  list-style: none;
}

.social-item {
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
  margin-bottom: 8px;
}

.social-item:focus,
.social-item:hover {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.copyrights {
  text-align: center;
}

.copyrights-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.selection-block {
  background-image: url("../img/background-hotels.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  background-position: 0 50%;
  color: #ffffff;
}

.infrastructure,
.types {
  border: none;
  text-align: left;
}

.infrastructure-title,
.types-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.infrastructure-list,
.types-list {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.price-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-interval label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.price-interval input {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.price-btn {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 1px;
}

.price-btn:focus,
.price-btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.sorting-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-variants {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list {
  list-style: none;
}

.sorting-list-item a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.sorting-list-item .sorting-active {
  color: #81b3d2;
  text-decoration: none;
}

.sorting-list-item a:focus,
.sorting-list-item a:hover {
  color: #81b3d2;
}

.sorting-list-item a:active {
  color: #000000;
  text-decoration: none;
}

.results-list {
  list-style: none;
}

.item-info {
  text-align: left;
}

.item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.item-info h3:focus,
.item-info h3:hover {
  color: #81b3d2;
}

.item-info h3:active {
  color: #b2b2b2;
}

.item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: left;
}

.item-btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #81b3d2;
}

.btn-more:focus,
.btn-more:hover {
  background-color: #669ec0;
}

.btn-more:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.btn-book {
  background-color: #766357;
}

.btn-book:focus,
.btn-book:hover {
  background-color: #604e43;
}

.btn-book:active {
  background-color: #503e33;
  color: #857871;
}

.item-rank {
  text-align: right;
}

.item-rank-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

/*-----СЕТОЧНЫЕ СТИЛИ-------*/

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}

.header {
  position: relative;
}

.header-list {
  width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
}

.list-item-left {
  display: inline-block;
  vertical-align: middle;
  width: 239px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  box-sizing: border-box;
}

.left-item {
  margin-right: 244px;
}

.list-item-right {
  display: inline-block;
  vertical-align: middle;
  width: 239px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  box-sizing: border-box;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 530px;
  width: 140px;
  height: 72px;
}

.intro-pictures {
  min-height: 510px;
  background:
    url("../img/svg-sedona/intro-welcome.svg") no-repeat 50% 50%,
    url("../img/svg-sedona/intro-mask.svg") no-repeat 50% 100%,
    url("../img/background-index.jpg") no-repeat 0 20%;
  background-size: 459px 353px, 1200px 59px, 1200px 800px;
  background-color: #81b3d2;
}

.intro-text {
  margin-top: -2px;
  text-align: center;
  padding-top: 61px;
}

.intro-title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 380px;
  margin-right: 380px;
}

.intro-item {
  margin: 0;
  margin-bottom: 50px;
}

.reasons-first {
  display: flex;
}

.reasons-advice-list {
  display: flex;
  justify-content: space-between;
  min-height: 330px;
  margin: 0;
  padding: 0;
}

.reasons-second {
  display: flex;
}

.reasons-other-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 253px;
}

.other-list-item {
  text-align: center;
  width: 400px;
}

.footer-wrapper {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: rgba(254, 254, 254, 0.9);
  width:1200px;
}

.footer-position {
  position: absolute;
  bottom: 0;
}

.contacts {
  margin-left: 123px;
  margin-right: 177px;
  text-align: left;
}

.contacts-item {
  margin: 0;
}

.contacts-item a {
  color: #000000;
}

.social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
}

.social-item {
  position: relative;
}

.twitter::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 15px;
  width: 17px;
  height: 15px;
  background-image: url("../img/svg-sedona/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.facebook::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 12px;
  height: 22px;
  background-image: url("../img/svg-sedona/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.youtube::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 13px;
  width: 20px;
  height: 16px;
  background-image: url("../img/svg-sedona/youtube.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.twitter:active::before {
  opacity: 0.3;
}

.facebook:active::before {
  opacity: 0.3;
}

.youtube:active::before {
  opacity: 0.3;
}

.copyrights {
  width: 196px;
  margin-right: 100px;
  margin-left: 228px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrights-item {
  margin: 0;
}

.copyrights a:focus path,
.copyrights a:hover path {
  fill: #81b3d2;
}

.copyrights a:active path {
  fill: #bdbbbc;
}

.selection-block {
  padding-left: 73px;
  padding-right: 73px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.selection-form {
  display: flex;
}

.infrastructure {
  width: 254px;
}

.types {
  margin-right: 100px;
  width: 254px;
}

.infrastructure-list,
.types-list {
  margin: 0;
  padding: 0;
}

.sorting-block {
  display: flex;
  align-items: baseline;
}

.sorting-results {
  margin-right: 48px;
}

.sorting-variants {
  display: flex;
  align-items: baseline;
}

.sorting-list {
  margin: 0;
  margin-left: 39px;
  padding: 0;
  display: flex;
}

.sorting-list-item {
  margin-right: 31px;
}

.results-block {
  min-height: 453px;
}

.results-list {
  margin: 0;
  padding: 0;
}

.results-item {
  display: flex;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.results-item:first-child {
  border-top: 1px solid #e5e5e5;
}

/*
.results-item-wrapper {
  display: flex;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
}
*/

.item-wrapper-pic {
  margin-right: 30px;
}

.item-rank {
  margin-left: auto;
}

.item-title {
  margin: 0;
  padding: 0;
}

.item-info-wrapper {
  display: flex;
}

.item-info-wrapper div:first-of-type {
  margin-right: 6px;
}

.item-text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 14px;
  padding: 0;
}

.item-btn {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;
}

.btn-book {
  width: 142px;
}

.item-rank-wrapper {
  margin-bottom: 47px;
}

.item-rank-star {
  display: inline-block;
  width: 18px;
  min-height: 17px;
  background-image: url("../img/svg-sedona/star.svg");
  background-repeat: no-repeat;

}

.item-rank-text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
